extends layouts/main

block content
    if year
        h1 Filtering by year: #{year}
    else if rating
        h1 Filtering by rating: #{rating}
    ul
        each item in movie
            a(href=`/${item.id}`)
                li=item.title