body {
  font-family: sans-serif;
}

#volumeRange {
  transform: rotate(90deg);
  width: 50px;
  position: absolute;
  margin-left: -34px;
  margin-top: -30px;
  display: none;
}

.videoplayer__column:hover + #volumeRange {
  display: inline-block;
}

#volumeRange:hover {
  display: inline-block;
}

.videoplayer__controls {
  width: 700px;
  display: grid;
  margin-top: -30px;
  z-index: 1;
  position: absolute;
  background: rgba(0,0,0,0.3);
  color: #fff;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  opacity: 0;
}

.videoplayer__column:last-of-type {
  text-align: right;
}

.videoplayer__column * {
  letter-spacing: -0.6px;
  padding: 0 5px;
}

[id*=Time] {
  font-size: 14px;
}

h1 {
  position: absolute;
  top:5px;
  font-size: 15px;
  margin-left: 4px;
}