doctype html
html
    head
        title #{pageTitle} | #{siteTitle}
    body
        ul
            a(href="/")
                li Home
            a(href="/create")
                li Create
        main
            block content