* {
  box-sizing: border-box;
  color: #fff;
}
body {
  font-family: sans-serif;
  background-color: black;
}
[class^="col"] {
  float: left;
  padding: 5px;
}
.container {
  width: 100%;
}
.row {
  margin: 0 -15px;
}
.col-md-3 {
  width: 25%;
}
.col-md-6 {
  width: 50%;
}
.col-md-9 {
  width: 75%;
}
.col-md-12 {
  width: 100%;
}
[class^="btn"] {
  width: 100%;
  padding: 20px 0;
  border-radius: 12px;
  font-size: 200%;
  border: none;
  cursor: pointer;
}
[class^="btn"]:active {
  border: none;
  outline: none;
  background-color: #666;
}
.js-output {
  display: block;
  font-size: 300%;
  text-align: right;
  line-height: 1.5em;
  padding-right: 0.5em;
}
.btn__deepgray {
  background-color: #363439;
}
.btn__gray {
  background-color: #a7aab1;
}
.btn__orange {
  background-color: #fe8e00;
}
